@import "./base/fonts";
@import "./base/general";
@import "./helpers/variables";

.main-header {
  min-height: 1080px;
  max-width: 1920px;

  background: url(../images/header_bg.jpg) top center no-repeat;
}

.main-header__navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.navigation__item {
  margin: 0 20px;
}

.navigation__link {
  font: 600 16px/90px Muli, Arial, sans-serif;
  color: #ffffff;
  letter-spacing: 0.16px;
  text-decoration: none;

  transition: all 0.3s linear;

  &:not(.navigation__link_disable):hover,
  &:not(.navigation__link_disable):focus {
    color: $accent_color;
  }
}

.main-header__text {
  max-width: 660px;
  margin: 420px 0 0 330px;

  font: 24px/36px Muli, Arial, sans-serif;
  color: #ffffff;
}

.main-header__link {
  display: inline-block;
  width: 240px;
  margin: 50px 0 0 330px;

  font: 700 18px/60px Catamaran, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $accent_color;
  border-radius: 6px;

  transition: all 0.3s linear;

  &:hover,
  &:focus {
    color: $secondary_color;
  }
}

.main-page {
  background-color: #f6f6f6;
}

.offer {
  padding: 70px 0 160px;

  text-align: center;
}

.offer__title {
  margin: 0;

  font: 700 60px/90px Catamaran, Arial, sans-serif;
  color: #333333;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.offer__text {
  max-width: 950px;
  margin: 20px auto 0;

  font: 300 18px/32px Muli, Arial, sans-serif;
  color: #565656;
  letter-spacing: 0.18px;
}

.offer__list {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0;
  padding: 0;

  list-style: none;
}

.offer__item {
  align-items: center;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";

    height: 184px;
    width: 240px;
  }
}

.offer__item_left::before {
  background: url(../images/offers_1.png) top center no-repeat;
}

.offer__item_center::before {
  background: url(../images/offers_2.png) top center no-repeat;
}

.offer__item_right::before {
  background: url(../images/offers_3.png) top center no-repeat;
}

.offer__subtitle {
  order: 2;
  max-width: 220px;
  margin: 0;

  font: 700 24px/30px Catamaran, Arial, sans-serif;
  color: #333333;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.offer__desk {
  order: 1;
  margin: 30px 0 0;

  font: 300 14px/40px Muli, Arial, sans-serif;
  color: #565656;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.offer__link {
  order: 3;
  width: 120px;
  margin: 30px 0 0;

  font: 700 15px/50px Catamaran, Arial, sans-serif;
  color: #fefefe;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $accent_color;
  border-radius: 6px;

  transition: all 0.3s linear;

  &:hover,
  &:focus {
    color: $secondary_color;
  }
}

.gallery {
  display: grid;
  grid-template-rows: 425px 430px 50px 360px;
  grid-template-columns: repeat(3, 640px);
  justify-content: center;
  overflow: hidden;
}

.gallery__image_1 {
  grid-area: 1 / 1 / 2 / 2;
}

.gallery__image_2 {
  grid-area: 2 / 1 / 5 / 2;
}

.gallery__image_3 {
  grid-area: 1 / 2 / 2 / 3;
}

.gallery__image_4 {
  grid-area: 2 / 2 / 4 / 3;
}

.gallery__image_5 {
  grid-area: 4 / 2 / 5 / 3;
}

.gallery__image_6 {
  grid-area: 1 / 3 / 3 / 4;
}

.gallery__image_7 {
  grid-area: 3 / 3 / 5 / 4;
}
