<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="./images/favicons/favicon.ico" rel="shortcut icon">
  <link type="image/png" href="./images/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
  <link type="image/png" href="./images/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
  <title>Mountain</title>
  <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
  <header class="main-header">
    <nav class="main-header__navigation">
      <a class="navigation__logo"><img src="./images/header_logo.png" alt="Logo Mountain"></a>
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="#">Home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Offer</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Gallery</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">About</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">Contact</a></li>
      </ul>
    </nav>
    <p class="main-header__text">The countdown to ski season has begun! So, it is high time to improve your skills to have maximum fun this winter.</p>
    <a class="main-header__link" href="#">Online booking</a>
  </header>

  <main class="main-page">
    <h1 class="visually-hidden">Mountain - sky & snowboard school.</h1>
    <section class="offer">
      <h2 class="offer__title">What we offer</h2>
      <p class="offer__text">Skiing and snowboarding still rank among the undisputed winter sport highlights for all ages and ability levels. The perfectly groomed ski slopes makes a real heaven for skiers and riders. Our professional ski and snowboard instructors can show you all the little details while improving your skiing techniques and riding skills.</p>
      <ul class="offer__list">
        <li class="offer__item offer__item_left">
          <h3 class="offer__subtitle">Private lessons for beginners</h3>
          <p class="offer__desk">New to skiing?</p>
          <a href="" class="offer__link">From $250</a>
        </li>
        <li class="offer__item offer__item_center">
          <h3 class="offer__subtitle">Group lessons for beginners</h3>
          <p class="offer__desk">Need a crew?</p>
          <a href="" class="offer__link">From $150</a>
        </li>
        <li class="offer__item offer__item_right">
          <h3 class="offer__subtitle">Advanced group lessons</h3>
          <p class="offer__desk">Wanna more?</p>
          <a href="" class="offer__link">From $450</a>
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
